<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="csrf-token" content="<%= csrfToken %>" />
    <link href="./css/styles.css" rel="stylesheet">
    <script src="https://cdn.tailwindcss.com"></script>
    <title> Voting Platform </title>
</head>
<body class="bg-blue-300">
    <center>
            <h1 class="font-bold text-2xl py-4"> Welcome to <%= election.name %> Elections ! </h1>  
            <hr>  
            <h3 class="font-bold text-2xl py-4"> You have <%= questions.length %> questions created in your ballot </h3>    
            <a href="/elections/<%= election.id %>/questions"> Click here to Manage Questions </a>
            <a href="/elections/<%= election.id %>/questions"> Click here to Manage Voters </a>
            <% if(messages && messages.error && messages.error.length > 0)  { %>
                <% for(var i=0; i<messages.error.length; i++) { %>
                        <li class="text-red-600"> <%= messages.error[i] %></li>
                <% } %>
              <% } %>            
    </center>
</body>
</html>