<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="csrf-token" content="<%= csrfToken %>" />
    <link href="./css/styles.css" rel="stylesheet">
    <script src="https://cdn.tailwindcss.com"></script>
    <title> Voting Platform </title>
    <script>
        var token = document
            .querySelector('meta[name="csrf-token"]')
            .getAttribute("content");
        function deleteQuestion(id) {
            console.log("came");
            fetch(`/questions/${id}`, {
                method: "delete",   
                headers: {"Content-Type": "application/json"},
                body: JSON.stringify({ 
                    "_csrf": token
                })
            })
            .then((res) => {
            })
            .catch((err) => console.error(err)); 
        }
    </script>
</head>
<body class="bg-blue-300">
    <div class="grid grid-cols-6">
        <div class="col-start-3 col-span-2">
            <% if(election.electionStatus) { %>
                <h1 class="font-semibold text-2xl"> This Election has been Ended </h1>
                <br>
                <form action="/elections/<%= election.id %>/endElection" method="post">
                    <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
                    <input type="submit" value="Check Results">
                </form>
            <% } else { %>
            <h1 class="font-semibold text-2xl"> Welcome to <%= election.name %> Ballot! </h1>
            <% if(questions.length === 0 ) { %>
                <h2>You Haven't Created any Questions Yet </h2>
                <% } else { %>
                    <div>
                        <%- include('listQuestion.ejs', {title:'Created questions', data: questions}) %>
                    </div>
                    <p style="float:left;" class="text-black bg-green-600 hover:bg-white-800 font-medium rounded px-5 py-2"><a href="/elections/<%= election.id %>/preview"> Launch </a></p>
                    <% } %>                    
                    <br><br>
                    <p style="float:left" class="text-black bg-rose-600 hover:bg-white-800 font-medium rounded px-5 py-2"><a href="/elections/<%= election.id %>/questions"> New Question </a> </p>
                    <p style="float:right" class="text-black bg-rose-600 hover:bg-white-800 font-medium rounded px-5 py-2"><a href="/elections/<%= election.id %>/voters"> Voters </a></p>
                    <br><br>
                    <% if(messages && messages.error && messages.error.length > 0)  { %>
                        <% for(var i=0; i<messages.error.length; i++) { %>
                            <li class="text-red-600"> <%= messages.error[i] %></li>
                        <% } %>
                    <% } } %>
                    <input type="button" value="Go back" onclick="history. back()" class="text-black bg-yellow-600 hover:bg-white-800 font-medium rounded px-5 py-2">                            
                    <br><br>
                    <p style="float: left;" class="text-black bg-rose-600 hover:bg-white-800 font-medium rounded px-5 py-2"><a href="/signout">Sign Out</a></p>
                    </div>
    </body>
</html>