<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="csrf-token" content="<%= csrfToken %>" />
    <link href="./css/styles.css" rel="stylesheet">
    <script src="https://cdn.tailwindcss.com"></script>
    <title> Voting Platform </title>
</head>
<body class="bg-blue-300">
    <div class="grid grid-cols-6">
        <div class="col-start-3 col-span-2">
            <h1 class="font-semibold text-2xl"> Welcome to <%= election.name %> Ballot! </h1>
            <a href="/elections" style="color: blue;"> ..Go back </a> 
            <% if(questions.length === 0 ) { %>
                <h2>You Haven't Created any Questions Yet </h2>
                <% } else { %>
                    <div>
                        <%- include('listQuestion.ejs', {title:'Created questions', data: questions}) %>
                    </div>
                    <% } %>
                    <a href="/elections/<%= election.id %>/questions" style="color:blue"> Click here to create the Question </a>
                    <br><br>
                    <% if(messages && messages.error && messages.error.length > 0)  { %>
                        <% for(var i=0; i<messages.error.length; i++) { %>
                            <li class="text-red-600"> <%= messages.error[i] %></li>
                            <% } %>
                            <% } %>
                            
                    <p style="float: left;" class="border rounded bg-rose-600 border-solid text-white rounded"><a href="/signout">Sign Out</a></p>
                    </div>
                    </body>
                    </html>